<div class="stats-handle" (click)="toggle()">
  <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</div>

<div class="score-history">
  <div class="score-mark-container" [ngClass]="score.side" *ngFor="#score of scoreHistory"
      [class.three]="score.points == 3" [class.two]="score.points == 2">
    <div class="score-mark"
        [style.background-color]="score.color"
        title="{{score.player.name}} at {{score.when}}"></div>
  </div>
</div>

<div class="stats-table">
  <team-stats [scores]="leftTeam.scores"></team-stats>
  <team-stats [scores]="rightTeam.scores"></team-stats>
</div>
