* {
  outline: none;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.scorer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.bench {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background-color: rgba(0, 0, 0, .7);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px;
}

.bench.open {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bench-handle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  width: 48px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  line-height: 0;
}

.bench-handle svg {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.open > .bench-handle svg {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.bench .player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: Georgia, serif;
}

.bench .player > .assign {
  cursor: pointer;
}

.new-player-input {
  width: 240px;
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
}

.new-player-input:focus {
  border-bottom: 1px solid #0599f8;
}

.team {
  position: relative;
}

.team .players {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.team .actions,
  .team .player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.team .player {
  cursor: pointer;
  min-width: 200px;
  font-size: 36px;
  margin-bottom: 8px;
}

.team .action {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, .3);
  padding: 4px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 4px;
}

.team .action:hover {
  background-color: rgba(200, 200, 200, .3);
}

.team.left-team .players {
  left: 0
}

.team.left-team .actions,
  .team.left-team .player {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.team.left-team .player {
  text-align: left;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, .7), transparent);
  background: linear-gradient(to right, rgba(0, 0, 0, .7), transparent);
}

.team.left-team .player > .name {
  padding-right: 24px;
  padding-left: 8px;
}

.team.right-team .players {
  right: 0
}

.team.right-team .actions,
  .team.right-team .player {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.team.right-team .player {
  text-align: right;
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, .7), transparent);
  background: linear-gradient(to left, rgba(0, 0, 0, .7), transparent);
}

.team.right-team .player > .name {
  padding-left: 24px;
  padding-right: 8px;
}

.colors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.color {
  cursor: pointer;
  width: 180px;
  box-sizing: border-box;
  padding: 24px;
  margin: 8px 0;
  border-radius: 4px;
}

.score {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 480px;
  text-shadow: 0 0 50px #555;
}
